

            
    {{#each apto}}
    <div class="card col-md-12 col-sm-10 ml-5 mt-3">
        <div class="card-body">
            <h4 class="card-title">
                {{ Titulo }}
            </h4>
            <p><b> Dirección</b>: {{Direccion}}</p>
            <p><b>Precio</b>: {{Precio}} Euros</p>
            {{#if Habitaciones}}
            <p><b>Habitaciones</b>: {{Habitaciones}}</p>
            {{else}}
            <p><b>Habitaciones</b>: Sin información</p>
            {{/if}}
            <p><b>Baños: </b>{{Baños}}</p>
            <p><b>Tipo: </b>{{Tipo}}</p>
            <p><b>Metros cuadrados: </b>{{[Metros cuadrados]}}m2</p>            
            
            {{#ifeq Parking 'TRUE'}}
            <p><b>Parqueadero: </b>Si</p>
            {{else}}
            <p><b>Parqueadero: </b>No</p>
            {{/ifeq}}       
            <a class="btn btn-primary" href="javascript: history.go(-1)">Volver</a>     
        </div>
    </div>
    {{else}}
    <p>Acá no hay nada</p>
    {{/each}}
